<h1><%= @list.title %></h1>

<table>
  <caption>Tasks</caption>
  <thead>
    <tr>
      <th>Title</th>
      <th>Completed at</th>
      <th>Duration</th>
    </tr>
  </thead>
  <tbody>
    <% @list.tasks.each do |task| %>
      <tr>
        <td>
          <a href="/tasks/<%= task.id %>">
            <%= task.title %>
          </a>
        </td>
        <td>
          <%= task.completed_at %>
        </td>
        <td>
          <%= task.duration %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<p>
  <a href="/lists/<%= @list.id %>/edit">Edit</a>
  <a href="/lists">All lists</a>
</p>
