<h1><%= @task.title %></h1>

<table>
  <thead>
    <tr>
      <th>List</th>
      <th>Completed at</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tr>
    <td>
      <a href="/lists/<%= @task.list.id %>">
        <%= @task.list.title %>
      </a>
    </td>
    <td><%= @task.completed_at %></td>
  </tr>
</table>

<hr>

<p>
  <a href="/tasks/<%= @task.id %>/edit">Edit</a>
  <a href="/tasks">All tasks</a>
</p>
